<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1304.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{579,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,406}}</string>
			<key>sourceSize</key>
			<string>{579,406}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>1304-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:07147e9ae8467b50a95410b65be66797$</string>
		<key>textureFileName</key>
		<string>1304-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
