<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bcbattledisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,1147},{214,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,404}}</string>
			<key>sourceSize</key>
			<string>{214,404}</string>
		</dict>
		<key>bcbattlenormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,1147},{214,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,404}}</string>
			<key>sourceSize</key>
			<string>{214,404}</string>
		</dict>
		<key>bcbattlepress.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1147},{214,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,404}}</string>
			<key>sourceSize</key>
			<string>{214,404}</string>
		</dict>
		<key>bcstorydisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,746},{212,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,383}}</string>
			<key>sourceSize</key>
			<string>{212,383}</string>
		</dict>
		<key>bcstorynormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,746},{212,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,383}}</string>
			<key>sourceSize</key>
			<string>{212,383}</string>
		</dict>
		<key>bcstorypress.png</key>
		<dict>
			<key>frame</key>
			<string>{{1690,362},{212,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,383}}</string>
			<key>sourceSize</key>
			<string>{212,383}</string>
		</dict>
		<key>clbattledisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1535,1147},{214,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,421}}</string>
			<key>sourceSize</key>
			<string>{214,421}</string>
		</dict>
		<key>clbattlenormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1320,1147},{214,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,421}}</string>
			<key>sourceSize</key>
			<string>{214,421}</string>
		</dict>
		<key>clbattlepress.png</key>
		<dict>
			<key>frame</key>
			<string>{{1750,1147},{214,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,421}}</string>
			<key>sourceSize</key>
			<string>{214,421}</string>
		</dict>
		<key>clstorydisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534,746},{179,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,400}}</string>
			<key>sourceSize</key>
			<string>{179,400}</string>
		</dict>
		<key>clstorynormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1534,746},{179,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,400}}</string>
			<key>sourceSize</key>
			<string>{179,400}</string>
		</dict>
		<key>clstorypress.png</key>
		<dict>
			<key>frame</key>
			<string>{{1714,746},{179,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,400}}</string>
			<key>sourceSize</key>
			<string>{179,400}</string>
		</dict>
		<key>mdbattledisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1095,1147},{224,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,407}}</string>
			<key>sourceSize</key>
			<string>{224,407}</string>
		</dict>
		<key>mdbattlenormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,1147},{224,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,407}}</string>
			<key>sourceSize</key>
			<string>{224,407}</string>
		</dict>
		<key>mdbattlepress.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,1147},{224,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,407}}</string>
			<key>sourceSize</key>
			<string>{224,407}</string>
		</dict>
		<key>mdstorydisable.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,362},{185,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,379}}</string>
			<key>sourceSize</key>
			<string>{185,379}</string>
		</dict>
		<key>mdstorynormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,362},{185,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,379}}</string>
			<key>sourceSize</key>
			<string>{185,379}</string>
		</dict>
		<key>mdstorypress.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,362},{185,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,379}}</string>
			<key>sourceSize</key>
			<string>{185,379}</string>
		</dict>
		<key>selectrole_smurf_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,746},{314,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,386}}</string>
			<key>sourceSize</key>
			<string>{314,386}</string>
		</dict>
		<key>selectrole_smurf_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,746},{314,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,386}}</string>
			<key>sourceSize</key>
			<string>{314,386}</string>
		</dict>
		<key>selectrole_vampire_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1543,0},{264,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,361}}</string>
			<key>sourceSize</key>
			<string>{264,361}</string>
		</dict>
		<key>selectrole_vampire_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,0},{264,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,361}}</string>
			<key>sourceSize</key>
			<string>{264,361}</string>
		</dict>
		<key>selectrole_viking_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1295,746},{238,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,391}}</string>
			<key>sourceSize</key>
			<string>{238,391}</string>
		</dict>
		<key>selectrole_viking_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1056,746},{238,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,391}}</string>
			<key>sourceSize</key>
			<string>{238,391}</string>
		</dict>
		<key>selectrole_zombie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,362},{340,371}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,371}}</string>
			<key>sourceSize</key>
			<string>{340,371}</string>
		</dict>
		<key>selectrole_zombie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,362},{340,371}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,371}}</string>
			<key>sourceSize</key>
			<string>{340,371}</string>
		</dict>
		<key>story_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,0},{638,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,278}}</string>
			<key>sourceSize</key>
			<string>{638,278}</string>
		</dict>
		<key>story_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{638,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,278}}</string>
			<key>sourceSize</key>
			<string>{638,278}</string>
		</dict>
		<key>unlock_battle.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>unlock_bc.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>unlock_bc_challenge.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>unlock_cl_challenge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1600,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>unlock_md.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>unlock_md_challenge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1280,1569},{319,435}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,435}}</string>
			<key>sourceSize</key>
			<string>{319,435}</string>
		</dict>
		<key>vs_player_melee_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1240,362},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_melee_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1465,362},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>locale_1-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:171b655baeb0ca0c8779466d89de740a$</string>
		<key>textureFileName</key>
		<string>locale_1-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
