<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>music_off_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{133,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,146}}</string>
			<key>sourceSize</key>
			<string>{133,146}</string>
		</dict>
		<key>music_off_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,0},{133,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,146}}</string>
			<key>sourceSize</key>
			<string>{133,146}</string>
		</dict>
		<key>music_on_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,0},{133,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,146}}</string>
			<key>sourceSize</key>
			<string>{133,146}</string>
		</dict>
		<key>music_on_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,147},{133,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,146}}</string>
			<key>sourceSize</key>
			<string>{133,146}</string>
		</dict>
		<key>replay_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,147},{144,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,166}}</string>
			<key>sourceSize</key>
			<string>{144,166}</string>
		</dict>
		<key>replay_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,147},{144,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,166}}</string>
			<key>sourceSize</key>
			<string>{144,166}</string>
		</dict>
		<key>resume_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,314},{148,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,167}}</string>
			<key>sourceSize</key>
			<string>{148,167}</string>
		</dict>
		<key>resume_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,314},{148,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,167}}</string>
			<key>sourceSize</key>
			<string>{148,167}</string>
		</dict>
		<key>sound_off_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,314},{140,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,156}}</string>
			<key>sourceSize</key>
			<string>{140,156}</string>
		</dict>
		<key>sound_off_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{140,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,156}}</string>
			<key>sourceSize</key>
			<string>{140,156}</string>
		</dict>
		<key>sound_on_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,482},{140,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,156}}</string>
			<key>sourceSize</key>
			<string>{140,156}</string>
		</dict>
		<key>sound_on_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,482},{140,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,156}}</string>
			<key>sourceSize</key>
			<string>{140,156}</string>
		</dict>
		<key>white_exit_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,639},{144,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,166}}</string>
			<key>sourceSize</key>
			<string>{144,166}</string>
		</dict>
		<key>white_exit_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,639},{144,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,166}}</string>
			<key>sourceSize</key>
			<string>{144,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>locale_4-hd.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b16753d945290bb400445b2d15aacb22$</string>
		<key>textureFileName</key>
		<string>locale_4-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
