<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>battle_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{638,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,323}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>battle_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,0},{638,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,323}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>battle_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,0},{638,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,323}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>no_enough_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,324},{960,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,143}}</string>
			<key>sourceSize</key>
			<string>{960,143}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>locale_2-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2d49f62a08724e606576868015e74418$</string>
		<key>textureFileName</key>
		<string>locale_2-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
