<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>battle_lost_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,383},{343,496}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,496}}</string>
			<key>sourceSize</key>
			<string>{343,496}</string>
		</dict>
		<key>battle_win_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567,383},{428,513}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,513}}</string>
			<key>sourceSize</key>
			<string>{428,513}</string>
		</dict>
		<key>change_role.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,73},{300,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,73}}</string>
			<key>sourceSize</key>
			<string>{300,73}</string>
		</dict>
		<key>continue_string.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,0},{425,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,40}}</string>
			<key>sourceSize</key>
			<string>{425,40}</string>
		</dict>
		<key>fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{1067,165},{220,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,162}}</string>
			<key>sourceSize</key>
			<string>{220,162}</string>
		</dict>
		<key>gameover_win_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,383},{428,513}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,513}}</string>
			<key>sourceSize</key>
			<string>{428,513}</string>
		</dict>
		<key>gameover_win_story_info.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,383},{428,513}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,513}}</string>
			<key>sourceSize</key>
			<string>{428,513}</string>
		</dict>
		<key>loading_string.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,0},{215,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,40}}</string>
			<key>sourceSize</key>
			<string>{215,40}</string>
		</dict>
		<key>new_record.png</key>
		<dict>
			<key>frame</key>
			<string>{{1288,165},{191,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,173}}</string>
			<key>sourceSize</key>
			<string>{191,173}</string>
		</dict>
		<key>revive_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1719,73},{212,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,91}}</string>
			<key>sourceSize</key>
			<string>{212,91}</string>
		</dict>
		<key>revive_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,165},{212,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,91}}</string>
			<key>sourceSize</key>
			<string>{212,91}</string>
		</dict>
		<key>score.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{66,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,29}}</string>
			<key>sourceSize</key>
			<string>{66,29}</string>
		</dict>
		<key>shop_charge_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,0},{179,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,68}}</string>
			<key>sourceSize</key>
			<string>{179,68}</string>
		</dict>
		<key>shop_charge_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1290,0},{179,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,68}}</string>
			<key>sourceSize</key>
			<string>{179,68}</string>
		</dict>
		<key>shop_price.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,0},{215,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,36}}</string>
			<key>sourceSize</key>
			<string>{215,36}</string>
		</dict>
		<key>shop_ui_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,0},{184,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,63}}</string>
			<key>sourceSize</key>
			<string>{184,63}</string>
		</dict>
		<key>store_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,165},{131,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,129}}</string>
			<key>sourceSize</key>
			<string>{131,129}</string>
		</dict>
		<key>store_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,165},{131,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,129}}</string>
			<key>sourceSize</key>
			<string>{131,129}</string>
		</dict>
		<key>story_lost_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,383},{364,505}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{364,505}}</string>
			<key>sourceSize</key>
			<string>{364,505}</string>
		</dict>
		<key>title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1480,165},{522,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{522,217}}</string>
			<key>sourceSize</key>
			<string>{522,217}</string>
		</dict>
		<key>vs_diff_easy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1677,0},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_diff_easy_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,73},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_diff_hard_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,73},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_diff_hard_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,73},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_diff_middle_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,73},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_diff_middle_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1470,0},{206,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,72}}</string>
			<key>sourceSize</key>
			<string>{206,72}</string>
		</dict>
		<key>vs_map_random_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,165},{294,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,99}}</string>
			<key>sourceSize</key>
			<string>{294,99}</string>
		</dict>
		<key>vs_map_random_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,165},{294,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,99}}</string>
			<key>sourceSize</key>
			<string>{294,99}</string>
		</dict>
		<key>vs_map_stage_random_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1424,73},{294,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,74}}</string>
			<key>sourceSize</key>
			<string>{294,74}</string>
		</dict>
		<key>vs_map_stage_random_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129,73},{294,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,74}}</string>
			<key>sourceSize</key>
			<string>{294,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>locale_3-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c551ab597ce7f072e689321c8c9d85e7$</string>
		<key>textureFileName</key>
		<string>locale_3-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
