<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,642}}</string>
                <key>sourceSize</key>
                <string>{960,642}</string>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,498}}</string>
                <key>sourceSize</key>
                <string>{960,498}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{960,376}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{960,376}}</string>
                <key>sourceSize</key>
                <string>{960,380}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{721,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,219}}</string>
                <key>sourceSize</key>
                <string>{721,219}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1245},{872,149}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{872,149}}</string>
                <key>sourceSize</key>
                <string>{900,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.pvr.ccz</string>
            <key>size</key>
            <string>{1472,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fedcf0abc4c24b37e1837e2a2509008:a1f94f368362720b86401bad284d6aeb:b9ac7fcafea4754d416d8216ba5d2469$</string>
            <key>textureFileName</key>
            <string>bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
