<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcbattledisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1082},{214,402}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,402}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>bcbattlenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1082},{214,402}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,402}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>bcbattlepress.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1675},{214,402}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,402}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>bcstorydisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1019},{204,377}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,377}}</string>
                <key>sourceSize</key>
                <string>{212,383}</string>
            </dict>
            <key>bcstorynormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,742},{204,377}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,377}}</string>
                <key>sourceSize</key>
                <string>{212,383}</string>
            </dict>
            <key>bcstorypress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,363},{204,377}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,377}}</string>
                <key>sourceSize</key>
                <string>{212,383}</string>
            </dict>
            <key>clbattledisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,437},{214,415}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{214,415}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>clbattlenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,439},{214,415}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{214,415}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>clbattlepress.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,439},{214,415}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{214,415}}</string>
                <key>sourceSize</key>
                <string>{214,421}</string>
            </dict>
            <key>clstorydisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,842},{175,392}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,392}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>clstorynormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,842},{175,392}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,392}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>clstorypress.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1486},{175,392}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,392}}</string>
                <key>sourceSize</key>
                <string>{179,400}</string>
            </dict>
            <key>mdbattledisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,856},{224,403}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{224,403}}</string>
                <key>sourceSize</key>
                <string>{224,407}</string>
            </dict>
            <key>mdbattlenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,437},{224,403}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{224,403}}</string>
                <key>sourceSize</key>
                <string>{224,407}</string>
            </dict>
            <key>mdbattlepress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,437},{224,403}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{224,403}}</string>
                <key>sourceSize</key>
                <string>{224,407}</string>
            </dict>
            <key>mdstorydisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1777},{173,377}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{173,377}}</string>
                <key>sourceSize</key>
                <string>{185,379}</string>
            </dict>
            <key>mdstorynormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1398},{173,377}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{173,377}}</string>
                <key>sourceSize</key>
                <string>{185,379}</string>
            </dict>
            <key>mdstorypress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1121},{173,377}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{173,377}}</string>
                <key>sourceSize</key>
                <string>{185,379}</string>
            </dict>
            <key>selectrole_smurf_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1299},{296,374}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{296,374}}</string>
                <key>sourceSize</key>
                <string>{314,386}</string>
            </dict>
            <key>selectrole_smurf_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,923},{296,374}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{296,374}}</string>
                <key>sourceSize</key>
                <string>{314,386}</string>
            </dict>
            <key>selectrole_vampire_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1019},{260,349}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{260,349}}</string>
                <key>sourceSize</key>
                <string>{264,361}</string>
            </dict>
            <key>selectrole_vampire_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1663},{260,349}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{260,349}}</string>
                <key>sourceSize</key>
                <string>{264,361}</string>
            </dict>
            <key>selectrole_viking_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,1500},{220,379}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{220,379}}</string>
                <key>sourceSize</key>
                <string>{238,391}</string>
            </dict>
            <key>selectrole_viking_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1370},{220,379}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{220,379}}</string>
                <key>sourceSize</key>
                <string>{238,391}</string>
            </dict>
            <key>selectrole_zombie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,562},{324,359}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{324,359}}</string>
                <key>sourceSize</key>
                <string>{340,371}</string>
            </dict>
            <key>selectrole_zombie_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,2},{324,359}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{324,359}}</string>
                <key>sourceSize</key>
                <string>{340,371}</string>
            </dict>
            <key>story_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{636,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,278}}</string>
                <key>sourceSize</key>
                <string>{638,278}</string>
            </dict>
            <key>story_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,278}}</string>
                <key>sourceSize</key>
                <string>{638,278}</string>
            </dict>
            <key>unlock_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{319,433}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,433}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>unlock_bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{319,433}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,433}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>unlock_bc_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{319,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,435}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>unlock_cl_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{319,433}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,433}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>unlock_md.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{319,433}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,433}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>unlock_md_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{319,433}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{319,433}}</string>
                <key>sourceSize</key>
                <string>{319,435}</string>
            </dict>
            <key>vs_player_melee_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1465},{222,381}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{222,381}}</string>
                <key>sourceSize</key>
                <string>{224,383}</string>
            </dict>
            <key>vs_player_melee_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1082},{222,381}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{222,381}}</string>
                <key>sourceSize</key>
                <string>{224,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>locale_2.pvr.ccz</string>
            <key>size</key>
            <string>{1955,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4165c618e9acb431e290164fff44013d:8079c1f774c5b6d5d1b9ed1b1873cb90:69b60cb172ae42f4bed234810ef62c73$</string>
            <key>textureFileName</key>
            <string>locale_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
