<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_lost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{343,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,496}}</string>
                <key>sourceSize</key>
                <string>{343,496}</string>
            </dict>
            <key>battle_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{352,501}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{352,501}}</string>
                <key>sourceSize</key>
                <string>{428,513}</string>
            </dict>
            <key>change_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,579},{294,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{294,65}}</string>
                <key>sourceSize</key>
                <string>{300,73}</string>
            </dict>
            <key>continue_string.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,580},{159,38}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,2},{159,38}}</string>
                <key>sourceSize</key>
                <string>{425,40}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,215},{220,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,162}}</string>
                <key>sourceSize</key>
                <string>{220,162}</string>
            </dict>
            <key>gameover_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{352,501}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{352,501}}</string>
                <key>sourceSize</key>
                <string>{428,513}</string>
            </dict>
            <key>gameover_win_story_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,215},{214,285}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,114},{214,285}}</string>
                <key>sourceSize</key>
                <string>{428,513}</string>
            </dict>
            <key>loading_string.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,379},{207,38}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,38}}</string>
                <key>sourceSize</key>
                <string>{215,40}</string>
            </dict>
            <key>new_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{145,139}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{145,139}}</string>
                <key>sourceSize</key>
                <string>{191,173}</string>
            </dict>
            <key>revive_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,505},{202,89}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,89}}</string>
                <key>sourceSize</key>
                <string>{212,91}</string>
            </dict>
            <key>revive_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,419},{202,89}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,89}}</string>
                <key>sourceSize</key>
                <string>{212,91}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,558},{54,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,27}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>shop_charge_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,578},{177,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{177,66}}</string>
                <key>sourceSize</key>
                <string>{179,68}</string>
            </dict>
            <key>shop_charge_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,510},{177,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{177,66}}</string>
                <key>sourceSize</key>
                <string>{179,68}</string>
            </dict>
            <key>shop_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,596},{193,34}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{193,34}}</string>
                <key>sourceSize</key>
                <string>{215,36}</string>
            </dict>
            <key>shop_ui_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,414},{106,55}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{106,55}}</string>
                <key>sourceSize</key>
                <string>{184,63}</string>
            </dict>
            <key>store_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,510},{129,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,127}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>store_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,500},{129,127}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,127}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>story_lost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,501}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{354,501}}</string>
                <key>sourceSize</key>
                <string>{364,505}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,2},{518,211}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{518,211}}</string>
                <key>sourceSize</key>
                <string>{522,217}</string>
            </dict>
            <key>vs_diff_easy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,500},{204,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{204,56}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_diff_easy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,558},{204,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,70}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_diff_hard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,580},{204,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{204,56}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_diff_hard_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,208},{204,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,70}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_diff_middle_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,580},{204,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{204,56}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_diff_middle_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,2},{204,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,70}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>vs_map_random_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,505},{292,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{292,73}}</string>
                <key>sourceSize</key>
                <string>{294,99}</string>
            </dict>
            <key>vs_map_random_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,505},{292,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{292,73}}</string>
                <key>sourceSize</key>
                <string>{294,99}</string>
            </dict>
            <key>vs_map_stage_random_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,431},{292,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,72}}</string>
                <key>sourceSize</key>
                <string>{294,74}</string>
            </dict>
            <key>vs_map_stage_random_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,505},{292,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{292,72}}</string>
                <key>sourceSize</key>
                <string>{294,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>locale_1.pvr.ccz</string>
            <key>size</key>
            <string>{2003,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb3997c4bb494973f678fb0e7088be5:3b71b2d3315f004d8eb9f4117f061255:d106ecc7ea90b5a1ec260a57a94b2ea4$</string>
            <key>textureFileName</key>
            <string>locale_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
