<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cl_MB_yuanren_siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1914,292}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{1914,292}}</string>
                <key>sourceSize</key>
                <string>{1920,300}</string>
            </dict>
            <key>cl_M_cangshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1162},{640,548}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{640,548}}</string>
                <key>sourceSize</key>
                <string>{640,560}</string>
            </dict>
            <key>cl_M_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{636,436}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{636,436}}</string>
                <key>sourceSize</key>
                <string>{640,440}</string>
            </dict>
            <key>cl_M_mogu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,296},{638,398}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{638,398}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>cl_M_muou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,696},{634,506}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{634,506}}</string>
                <key>sourceSize</key>
                <string>{640,520}</string>
            </dict>
            <key>cl_M_zhizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{638,380}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{638,380}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>cl_M_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,296},{638,390}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{638,390}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>md_M_kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{632,542}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{632,542}}</string>
                <key>sourceSize</key>
                <string>{640,560}</string>
            </dict>
            <key>md_M_munaiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1204},{636,550}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{636,550}}</string>
                <key>sourceSize</key>
                <string>{640,560}</string>
            </dict>
            <key>md_M_yanqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,688},{638,472}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{638,472}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.pvr.ccz</string>
            <key>size</key>
            <string>{1936,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6f450903672e913e26614b14474eeb1:274d47b1acec5fbf5ade8a6daf86ce49:99601d72afa108f968b848ee931ae47c$</string>
            <key>textureFileName</key>
            <string>monster.pvr.ccz</string>
        </dict>
    </dict>
</plist>
