<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{960,642}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,642}}</string>
			<key>sourceSize</key>
			<string>{960,642}</string>
		</dict>
		<key>bg0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,643},{960,498}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,498}}</string>
			<key>sourceSize</key>
			<string>{960,498}</string>
		</dict>
		<key>bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1142},{960,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,380}}</string>
			<key>sourceSize</key>
			<string>{960,380}</string>
		</dict>
		<key>bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1523},{721,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{721,219}}</string>
			<key>sourceSize</key>
			<string>{721,219}</string>
		</dict>
		<key>cloud.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1743},{900,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,157}}</string>
			<key>sourceSize</key>
			<string>{900,157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bg-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:94b4fcfaacc6277a252c37a15a873651$</string>
		<key>textureFileName</key>
		<string>bg-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
