<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,91},{87,87}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,92},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>credit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,180},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>credit_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,180},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>exit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>exit_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,91},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>game_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,183},{59,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>game_pause_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,183},{59,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,138},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,70},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leadboard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>leadboard_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,181},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mainmenu_role_smurf_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,141},{88,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_smurf_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,141},{88,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,93}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_vampire_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,141},{84,95}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{84,95}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_vampire_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,141},{84,95}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{84,95}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_viking_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,141},{68,99}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{68,99}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_viking_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{68,99}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{68,99}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_zombie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{84,89}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{84,89}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>mainmenu_role_zombie_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,141},{84,91}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,91}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>next_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,93},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>no_enough_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,137}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,4},{502,137}}</string>
                <key>sourceSize</key>
                <string>{960,143}</string>
            </dict>
            <key>ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ok_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,93},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>restart_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>restart_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,92},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,181},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,182},{66,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shop_coinsnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{79,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{79,80}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.pvr.ccz</string>
            <key>size</key>
            <string>{1123,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:504711bb9613dfd26605a89b0e386ced:edba3a8bf99ead2d40bbd49cbe8bd6c7:ab469b2156e05661dc7f5bfefb34bd44$</string>
            <key>textureFileName</key>
            <string>button.pvr.ccz</string>
        </dict>
    </dict>
</plist>
