<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_boss_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{49,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,51}}</string>
			<key>sourceSize</key>
			<string>{49,51}</string>
		</dict>
		<key>bc_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>bc_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,0},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>blue_big_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,0},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>blue_small_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,0},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>boss_hp.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,0},{285,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,11}}</string>
			<key>sourceSize</key>
			<string>{285,11}</string>
		</dict>
		<key>boss_hp_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,52},{285,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,11}}</string>
			<key>sourceSize</key>
			<string>{285,11}</string>
		</dict>
		<key>cl_boss_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,52},{49,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,50}}</string>
			<key>sourceSize</key>
			<string>{49,50}</string>
		</dict>
		<key>cl_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,52},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>cl_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,52},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>green_head_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,52},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>hp_icon_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,103},{62,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,76}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>hp_icon_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,103},{62,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,76}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>hp_icon_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,103},{62,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,76}}</string>
			<key>sourceSize</key>
			<string>{62,76}</string>
		</dict>
		<key>hp_value.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,103},{19,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,113}}</string>
			<key>sourceSize</key>
			<string>{19,113}</string>
		</dict>
		<key>hp_value_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,103},{19,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,113}}</string>
			<key>sourceSize</key>
			<string>{19,113}</string>
		</dict>
		<key>hp_value_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,103},{9,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,37}}</string>
			<key>sourceSize</key>
			<string>{9,37}</string>
		</dict>
		<key>hp_value_small_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,103},{9,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,37}}</string>
			<key>sourceSize</key>
			<string>{9,37}</string>
		</dict>
		<key>md_boss_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,103},{51,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,52}}</string>
			<key>sourceSize</key>
			<string>{51,52}</string>
		</dict>
		<key>md_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,103},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>md_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,103},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>red_big_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,103},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>red_small_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,103},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>role_info_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,217},{277,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,53}}</string>
			<key>sourceSize</key>
			<string>{277,53}</string>
		</dict>
		<key>role_info_bomb_num.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,217},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>role_info_bomb_power.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,217},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>role_info_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,217},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>role_info_shoe.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,217},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>smurf_icon_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,271},{64,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,49}}</string>
			<key>sourceSize</key>
			<string>{64,49}</string>
		</dict>
		<key>smurf_icon_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,271},{44,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,35}}</string>
			<key>sourceSize</key>
			<string>{44,35}</string>
		</dict>
		<key>timer_bomb_action.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,271},{140,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,70}}</string>
			<key>sourceSize</key>
			<string>{140,70}</string>
		</dict>
		<key>timer_bomb_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,271},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>timer_bomb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,271},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>timer_bomb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,271},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>vampire_icon_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,342},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>vampire_icon_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,342},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>viking_icon_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,342},{55,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,51}}</string>
			<key>sourceSize</key>
			<string>{55,51}</string>
		</dict>
		<key>viking_icon_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,342},{39,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,36}}</string>
			<key>sourceSize</key>
			<string>{39,36}</string>
		</dict>
		<key>zombie_icon_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,342},{52,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,49}}</string>
			<key>sourceSize</key>
			<string>{52,49}</string>
		</dict>
		<key>zombie_icon_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,342},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ingame-hd.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b8a5c26c6563893157929930f12527e1$</string>
		<key>textureFileName</key>
		<string>ingame-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
