<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>coin0.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,0},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>coin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,0},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>hp.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,241},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>power.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,241},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>speed.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,241},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>item-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:619c0c9b8a66765db2905a77d91c8e5b$</string>
		<key>textureFileName</key>
		<string>item-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
