<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>battle_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{1218,2},{606,307}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{606,307}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>battle_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,2},{606,307}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{606,307}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>battle_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{606,307}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,6},{606,307}}</string>
			<key>sourceSize</key>
			<string>{638,323}</string>
		</dict>
		<key>no_enough_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{502,137}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{240,4},{502,137}}</string>
			<key>sourceSize</key>
			<string>{960,143}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>local_3.pvr.ccz</string>
		<key>size</key>
		<string>{1826,450}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d6c4f49cbf9f25ce05653b96b9a11dab:1ba9e392bcfa546686cf97625fed3cab:7ec6f7a2329596728f64aec74e68649c$</string>
		<key>textureFileName</key>
		<string>locale_3.pvr.ccz</string>
	</dict>
</dict>
</plist>
