<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cl_stage1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>credit_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,377},{417,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,640}}</string>
			<key>sourceSize</key>
			<string>{417,640}</string>
		</dict>
		<key>pause_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{556,376}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,376}}</string>
			<key>sourceSize</key>
			<string>{556,376}</string>
		</dict>
		<key>setting_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,377},{556,376}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,376}}</string>
			<key>sourceSize</key>
			<string>{556,376}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>medium2-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4ff13e4ea28cc1f58ade132e0b933aca$</string>
		<key>textureFileName</key>
		<string>medium2-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
