<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Direction.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>Direction_Inner.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,0},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>bomb_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,0},{183,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,195}}</string>
			<key>sourceSize</key>
			<string>{183,195}</string>
		</dict>
		<key>bomb_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,0},{183,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,195}}</string>
			<key>sourceSize</key>
			<string>{183,195}</string>
		</dict>
		<key>down.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,256},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>left.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,256},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>right.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,256},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>shop_item_hp_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,256},{212,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,325}}</string>
			<key>sourceSize</key>
			<string>{212,325}</string>
		</dict>
		<key>shop_item_hp_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,582},{212,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,325}}</string>
			<key>sourceSize</key>
			<string>{212,325}</string>
		</dict>
		<key>shop_item_timerbomb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,582},{212,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,320}}</string>
			<key>sourceSize</key>
			<string>{212,320}</string>
		</dict>
		<key>shop_item_timerbomb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,582},{212,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,320}}</string>
			<key>sourceSize</key>
			<string>{212,320}</string>
		</dict>
		<key>up.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,582},{255,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,255}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>vs_player_1v1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,908},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_1v1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,908},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_1v2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,908},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_1v2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,908},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_1v3_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1292},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_1v3_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1292},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_2v2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,1292},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
		<key>vs_player_2v2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,1292},{224,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,383}}</string>
			<key>sourceSize</key>
			<string>{224,383}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>medium-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3f1ccbba647569086ee4f3c9154706ed$</string>
		<key>textureFileName</key>
		<string>medium-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
