<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_M_baixiong.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{640,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,480}}</string>
			<key>sourceSize</key>
			<string>{640,480}</string>
		</dict>
		<key>bc_M_bingguai.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,0},{640,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,480}}</string>
			<key>sourceSize</key>
			<string>{640,480}</string>
		</dict>
		<key>bc_M_feiyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,0},{320,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,440}}</string>
			<key>sourceSize</key>
			<string>{320,440}</string>
		</dict>
		<key>bc_M_haibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,481},{640,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,440}}</string>
			<key>sourceSize</key>
			<string>{640,440}</string>
		</dict>
		<key>bc_M_qie.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,481},{640,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,440}}</string>
			<key>sourceSize</key>
			<string>{640,440}</string>
		</dict>
		<key>bc_M_xiaozhangyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,481},{640,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,480}}</string>
			<key>sourceSize</key>
			<string>{640,480}</string>
		</dict>
		<key>bc_M_yuren.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,962},{640,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,440}}</string>
			<key>sourceSize</key>
			<string>{640,440}</string>
		</dict>
		<key>md_M_bianfu.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,962},{480,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,440}}</string>
			<key>sourceSize</key>
			<string>{480,440}</string>
		</dict>
		<key>md_M_jiangshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,962},{640,560}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,560}}</string>
			<key>sourceSize</key>
			<string>{640,560}</string>
		</dict>
		<key>md_M_kuijiaguai.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1523},{640,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,480}}</string>
			<key>sourceSize</key>
			<string>{640,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monster_2-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6063c0f7a7b5457767991a9e8611e948$</string>
		<key>textureFileName</key>
		<string>monster_2-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
