<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cl_MB_yuanren_siwang.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1920,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1920,300}}</string>
			<key>sourceSize</key>
			<string>{1920,300}</string>
		</dict>
		<key>cl_M_cangshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,301},{640,560}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,560}}</string>
			<key>sourceSize</key>
			<string>{640,560}</string>
		</dict>
		<key>cl_M_hou.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,301},{640,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,440}}</string>
			<key>sourceSize</key>
			<string>{640,440}</string>
		</dict>
		<key>cl_M_mogu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,301},{640,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,400}}</string>
			<key>sourceSize</key>
			<string>{640,400}</string>
		</dict>
		<key>cl_M_muou.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,862},{640,520}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,520}}</string>
			<key>sourceSize</key>
			<string>{640,520}</string>
		</dict>
		<key>cl_M_zhizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,862},{640,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,400}}</string>
			<key>sourceSize</key>
			<string>{640,400}</string>
		</dict>
		<key>cl_M_zhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,862},{640,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,400}}</string>
			<key>sourceSize</key>
			<string>{640,400}</string>
		</dict>
		<key>md_M_kulou.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1383},{640,560}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,560}}</string>
			<key>sourceSize</key>
			<string>{640,560}</string>
		</dict>
		<key>md_M_munaiyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1383},{640,560}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,560}}</string>
			<key>sourceSize</key>
			<string>{640,560}</string>
		</dict>
		<key>md_M_yanqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,1383},{640,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,480}}</string>
			<key>sourceSize</key>
			<string>{640,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monster_1-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52f17a45d45e209b15d6b548bf885b81$</string>
		<key>textureFileName</key>
		<string>monster_1-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
