<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bianfu.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,0},{79,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,64}}</string>
			<key>sourceSize</key>
			<string>{79,64}</string>
		</dict>
		<key>cl_stage1_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,182},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,182},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,182},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,182},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>deng.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,0},{108,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,175}}</string>
			<key>sourceSize</key>
			<string>{108,175}</string>
		</dict>
		<key>explode1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,403},{185,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,205}}</string>
			<key>sourceSize</key>
			<string>{185,205}</string>
		</dict>
		<key>explode2.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,403},{228,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,240}}</string>
			<key>sourceSize</key>
			<string>{228,240}</string>
		</dict>
		<key>explode3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,644},{231,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,274}}</string>
			<key>sourceSize</key>
			<string>{231,274}</string>
		</dict>
		<key>explode4.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,644},{368,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,320}}</string>
			<key>sourceSize</key>
			<string>{368,320}</string>
		</dict>
		<key>lajitong.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,403},{223,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,212}}</string>
			<key>sourceSize</key>
			<string>{223,212}</string>
		</dict>
		<key>linglianren.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,0},{158,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,150}}</string>
			<key>sourceSize</key>
			<string>{158,150}</string>
		</dict>
		<key>loading_bomb_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,644},{368,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,320}}</string>
			<key>sourceSize</key>
			<string>{368,320}</string>
		</dict>
		<key>loading_bomb_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,644},{231,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,274}}</string>
			<key>sourceSize</key>
			<string>{231,274}</string>
		</dict>
		<key>loading_bomb_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,403},{228,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,240}}</string>
			<key>sourceSize</key>
			<string>{228,240}</string>
		</dict>
		<key>loading_bomb_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,403},{185,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,205}}</string>
			<key>sourceSize</key>
			<string>{185,205}</string>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,403},{228,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,81}}</string>
			<key>sourceSize</key>
			<string>{228,81}</string>
		</dict>
		<key>munaiyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,0},{112,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,181}}</string>
			<key>sourceSize</key>
			<string>{112,181}</string>
		</dict>
		<key>pig.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,0},{132,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,92}}</string>
			<key>sourceSize</key>
			<string>{132,92}</string>
		</dict>
		<key>pinglianren.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,0},{158,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,150}}</string>
			<key>sourceSize</key>
			<string>{158,150}</string>
		</dict>
		<key>play_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,182},{159,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,159}}</string>
			<key>sourceSize</key>
			<string>{159,159}</string>
		</dict>
		<key>play_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{159,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,159}}</string>
			<key>sourceSize</key>
			<string>{159,159}</string>
		</dict>
		<key>serie_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{64,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,76}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>stage_rate1.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,0},{111,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,76}}</string>
			<key>sourceSize</key>
			<string>{111,76}</string>
		</dict>
		<key>stage_rate2.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,0},{110,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,78}}</string>
			<key>sourceSize</key>
			<string>{110,78}</string>
		</dict>
		<key>xiaochou.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,0},{136,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,110}}</string>
			<key>sourceSize</key>
			<string>{136,110}</string>
		</dict>
		<key>zhizhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,644},{280,364}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,364}}</string>
			<key>sourceSize</key>
			<string>{280,364}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>opening-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4ef5b4b61108f238d324149f860bca7b$</string>
		<key>textureFileName</key>
		<string>opening-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
