<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,701},{77,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>cl_stage1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,711},{164,146}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{164,146}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
            <key>cl_stage1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,549},{160,172}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,33},{160,172}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
            <key>cl_stage2_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,531},{168,142}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,59},{168,142}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
            <key>cl_stage2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,356},{170,170}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
            <key>deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,356},{106,173}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,173}}</string>
                <key>sourceSize</key>
                <string>{108,175}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{185,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,205}}</string>
                <key>sourceSize</key>
                <string>{185,205}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{228,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,240}}</string>
                <key>sourceSize</key>
                <string>{228,240}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{231,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,274}}</string>
                <key>sourceSize</key>
                <string>{231,274}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,320}}</string>
                <key>sourceSize</key>
                <string>{368,320}</string>
            </dict>
            <key>lajitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,324},{223,208}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{223,208}}</string>
                <key>sourceSize</key>
                <string>{223,212}</string>
            </dict>
            <key>linglianren.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,710},{156,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,148}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>loading_bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,320}}</string>
                <key>sourceSize</key>
                <string>{368,320}</string>
            </dict>
            <key>loading_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{231,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,274}}</string>
                <key>sourceSize</key>
                <string>{231,274}</string>
            </dict>
            <key>loading_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{228,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,240}}</string>
                <key>sourceSize</key>
                <string>{228,240}</string>
            </dict>
            <key>loading_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{185,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,205}}</string>
                <key>sourceSize</key>
                <string>{185,205}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,278},{226,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{226,79}}</string>
                <key>sourceSize</key>
                <string>{228,81}</string>
            </dict>
            <key>munaiyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,244},{110,179}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{110,179}}</string>
                <key>sourceSize</key>
                <string>{112,181}</string>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,701},{130,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,90}}</string>
                <key>sourceSize</key>
                <string>{132,92}</string>
            </dict>
            <key>pinglianren.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,710},{156,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,148}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>play_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,549},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>play_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,711},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>serie_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,793},{62,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>stage_rate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,244},{109,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,74}}</string>
                <key>sourceSize</key>
                <string>{111,76}</string>
            </dict>
            <key>stage_rate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,793},{108,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,76}}</string>
                <key>sourceSize</key>
                <string>{110,78}</string>
            </dict>
            <key>xiaochou.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,528},{136,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,108}}</string>
                <key>sourceSize</key>
                <string>{136,110}</string>
            </dict>
            <key>zhizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{280,362}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,362}}</string>
                <key>sourceSize</key>
                <string>{280,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openning.pvr.ccz</string>
            <key>size</key>
            <string>{877,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:275f5a4f94e289a9360732925e6a2c7e:6ca646cc3a0de182748ac7439d257abf:05398461c52c2b54330c010f27e882b3$</string>
            <key>textureFileName</key>
            <string>openning.pvr.ccz</string>
        </dict>
    </dict>
</plist>
