<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>credit_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{417,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,640}}</string>
			<key>sourceSize</key>
			<string>{417,640}</string>
		</dict>
		<key>gameover_win_story_info.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,0},{428,513}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,513}}</string>
			<key>sourceSize</key>
			<string>{428,513}</string>
		</dict>
		<key>no_enough_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,641},{960,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,143}}</string>
			<key>sourceSize</key>
			<string>{960,143}</string>
		</dict>
		<key>pause_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,785},{556,376}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,376}}</string>
			<key>sourceSize</key>
			<string>{556,376}</string>
		</dict>
		<key>setting_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1162},{556,376}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{556,376}}</string>
			<key>sourceSize</key>
			<string>{556,376}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>other_1-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3042c1876a94650f0d777ce8c0857ef9$</string>
		<key>textureFileName</key>
		<string>other_1-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
