<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_stage1_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage2_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>gameover_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,663},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>gameover_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,663},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>gameover_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,884},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>md_stage1_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage1_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage1_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_star1.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_star2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_star3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>other-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:603cab1657c314f776d1abb2aacfe236$</string>
		<key>textureFileName</key>
		<string>other-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
