<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smurf-timer-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>smurf-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>smurf-zd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,101},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,263},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,344},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,425},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,506},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,587},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd08.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,668},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf-zd09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,749},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>smurf.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,830},{800,1040}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,1040}}</string>
			<key>sourceSize</key>
			<string>{800,1040}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player_smurf-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1ce7a41e9baa3cf2beb9eb8b68138851$</string>
		<key>textureFileName</key>
		<string>player_smurf-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
