<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smurf_chuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{200,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,130}}</string>
			<key>sourceSize</key>
			<string>{200,130}</string>
		</dict>
		<key>smurf_huxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,0},{200,520}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,520}}</string>
			<key>sourceSize</key>
			<string>{200,520}</string>
		</dict>
		<key>vampire_chuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,0},{180,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,130}}</string>
			<key>sourceSize</key>
			<string>{180,130}</string>
		</dict>
		<key>vampire_huxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,0},{360,520}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{360,520}}</string>
			<key>sourceSize</key>
			<string>{360,520}</string>
		</dict>
		<key>viking_chuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,521},{180,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,120}}</string>
			<key>sourceSize</key>
			<string>{180,120}</string>
		</dict>
		<key>viking_huxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,521},{180,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,480}}</string>
			<key>sourceSize</key>
			<string>{180,480}</string>
		</dict>
		<key>zombie_chuchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,521},{180,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,110}}</string>
			<key>sourceSize</key>
			<string>{180,110}</string>
		</dict>
		<key>zombie_huxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,521},{180,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,440}}</string>
			<key>sourceSize</key>
			<string>{180,440}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player_huxi-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:90859e1427f98cb18e85d9768ebe10d4$</string>
		<key>textureFileName</key>
		<string>player_huxi-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
