<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>viking-timer-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>viking-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>viking-zd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,0},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,101},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,263},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,344},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,425},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,506},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd08.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,587},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking-zd09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,668},{640,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,80}}</string>
			<key>sourceSize</key>
			<string>{640,80}</string>
		</dict>
		<key>viking.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,749},{720,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,960}}</string>
			<key>sourceSize</key>
			<string>{720,960}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player_viking-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f18c90f45b6d125ffbaf43cbfcee1229$</string>
		<key>textureFileName</key>
		<string>player_viking-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
