<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zombie-timer-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>zombie-zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,0},{160,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,100}}</string>
			<key>sourceSize</key>
			<string>{160,100}</string>
		</dict>
		<key>zombie-zd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,0},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1043,0},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,101},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd04.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,101},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,182},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd06.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,182},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,263},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd08.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,263},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie-zd09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,344},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>zombie.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,344},{1080,660}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1080,660}}</string>
			<key>sourceSize</key>
			<string>{1080,660}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>player_zombie-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fe3ce3d9ceb6a3792fc6836d5f5ab158$</string>
		<key>textureFileName</key>
		<string>player_zombie-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
