<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bc_bingdiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,292},{78,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{78,108}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>bc_bingmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,428},{78,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>bc_bingqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,82},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>bc_dibian_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{240,40}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>bc_dibian_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,244},{240,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>bc_didong.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,74}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>bc_fangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,392},{78,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>bc_xueren.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,292},{78,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>cl_B_qiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,298},{106,128}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{106,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>cl_dibian_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{240,40}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>cl_dibian_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,244},{240,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,40}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>cl_didong.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{240,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>cl_liba01.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{78,93}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{78,93}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>cl_liba02.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,388},{78,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{78,73}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>cl_liba03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,444},{64,95}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{64,95}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>cl_liba04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,292},{44,121}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{44,121}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>cl_liba05.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,292},{44,121}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{44,121}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>cl_muzhuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{78,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>cl_muzhuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,82},{78,86}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>cl_shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,398},{78,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,104}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>cl_shitou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,292},{78,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,104}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>cl_shui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,402},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,322},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,402},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,322},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,402},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,322},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,242},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,242},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui09.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,242},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,162},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,162},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,162},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_shui13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,82},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cl_tuteng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,298},{76,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,144}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>cl_tuteng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,292},{76,111}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,111}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>jobs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{120,188}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,55},{120,188}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>md_dibian_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{240,46}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{240,46}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>md_dibian_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,244},{240,46}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,46}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>md_didong.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{240,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,76}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>md_fangjianbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,405},{78,98}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>md_mubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,402},{78,104}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,104}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>md_shiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,428},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,112}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>md_shizijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,292},{78,94}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{78,94}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>touxueqiu_zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,294}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{292,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>wandoujia_zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{274,288}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{274,288}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scenetex_small.pvr.ccz</string>
            <key>size</key>
            <string>{1190,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6dd1ee104316de8380cea1eb2d3f2f:1/1$</string>
            <key>textureFileName</key>
            <string>scenetex_small.pvr.ccz</string>
        </dict>
    </dict>
</plist>
