<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bc_guanmu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{1040,218}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{1040,218}}</string>
                <key>sourceSize</key>
                <string>{1040,240}</string>
            </dict>
            <key>bc_shirenyu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,896},{572,414}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{572,414}}</string>
                <key>sourceSize</key>
                <string>{640,420}</string>
            </dict>
            <key>bc_shirenyu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{586,412}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{586,412}}</string>
                <key>sourceSize</key>
                <string>{640,420}</string>
            </dict>
            <key>bc_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{1040,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{1040,248}}</string>
                <key>sourceSize</key>
                <string>{1040,260}</string>
            </dict>
            <key>bc_touxueqiu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1870},{800,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{800,80}}</string>
                <key>sourceSize</key>
                <string>{800,110}</string>
            </dict>
            <key>bc_touxueqiu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1788},{800,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{800,80}}</string>
                <key>sourceSize</key>
                <string>{800,110}</string>
            </dict>
            <key>bc_xueqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cl_shu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1580},{880,206}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{880,206}}</string>
                <key>sourceSize</key>
                <string>{880,240}</string>
            </dict>
            <key>cl_shu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1366},{960,212}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{960,212}}</string>
                <key>sourceSize</key>
                <string>{960,240}</string>
            </dict>
            <key>md_chongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1190,892}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,52},{1190,892}}</string>
                <key>sourceSize</key>
                <string>{1200,960}</string>
            </dict>
            <key>md_guiwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{640,198}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{640,198}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>penhuokou_zidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,244},{310,302}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{310,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scenetex_big.pvr.ccz</string>
            <key>size</key>
            <string>{1618,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5251b1491b7916fc060ac0097a763731:1/1$</string>
            <key>textureFileName</key>
            <string>scenetex_big.pvr.ccz</string>
        </dict>
    </dict>
</plist>
