<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_guanmu.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,111},{1040,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1040,240}}</string>
			<key>sourceSize</key>
			<string>{1040,240}</string>
		</dict>
		<key>bc_shirenyu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1014},{640,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,420}}</string>
			<key>sourceSize</key>
			<string>{640,420}</string>
		</dict>
		<key>bc_shirenyu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1362,593},{640,420}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,420}}</string>
			<key>sourceSize</key>
			<string>{640,420}</string>
		</dict>
		<key>bc_shu.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,593},{1040,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1040,260}}</string>
			<key>sourceSize</key>
			<string>{1040,260}</string>
		</dict>
		<key>bc_touxueqiu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{800,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,110}}</string>
			<key>sourceSize</key>
			<string>{800,110}</string>
		</dict>
		<key>bc_touxueqiu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,0},{800,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,110}}</string>
			<key>sourceSize</key>
			<string>{800,110}</string>
		</dict>
		<key>bc_xueqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,352},{320,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,240}}</string>
			<key>sourceSize</key>
			<string>{320,240}</string>
		</dict>
		<key>cl_shu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,111},{880,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,240}}</string>
			<key>sourceSize</key>
			<string>{880,240}</string>
		</dict>
		<key>cl_shu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,352},{960,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,240}}</string>
			<key>sourceSize</key>
			<string>{960,240}</string>
		</dict>
		<key>md_chongzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1014},{1200,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1200,960}}</string>
			<key>sourceSize</key>
			<string>{1200,960}</string>
		</dict>
		<key>md_guiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,352},{640,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,240}}</string>
			<key>sourceSize</key>
			<string>{640,240}</string>
		</dict>
		<key>penhuokou_zidan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,593},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>scenetex_big-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:55ec9263139e2d4dd05a70ef228b6066$</string>
		<key>textureFileName</key>
		<string>scenetex_big-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
