<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_beike.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,111},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>bc_bingkuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,232},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>bc_dibian_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>bc_dibian_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>bc_xieqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1362,353},{640,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,160}}</string>
			<key>sourceSize</key>
			<string>{640,160}</string>
		</dict>
		<key>bc_xuekuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,232},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>cl_dibian_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>cl_dibian_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>cl_muxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,0},{640,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,110}}</string>
			<key>sourceSize</key>
			<string>{640,110}</string>
		</dict>
		<key>cl_shirenhua01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1176},{640,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,330}}</string>
			<key>sourceSize</key>
			<string>{640,330}</string>
		</dict>
		<key>cl_shirenhua02.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,845},{640,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,330}}</string>
			<key>sourceSize</key>
			<string>{640,330}</string>
		</dict>
		<key>cl_shushou.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,353},{720,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,130}}</string>
			<key>sourceSize</key>
			<string>{720,130}</string>
		</dict>
		<key>cl_wandou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,514},{800,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,330}}</string>
			<key>sourceSize</key>
			<string>{800,330}</string>
		</dict>
		<key>cl_wandou02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,845},{800,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,330}}</string>
			<key>sourceSize</key>
			<string>{800,330}</string>
		</dict>
		<key>md_dibian_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>md_dibian_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,514},{80,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{80,240}</string>
		</dict>
		<key>md_guzhua.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{720,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,80}}</string>
			<key>sourceSize</key>
			<string>{720,80}</string>
		</dict>
		<key>md_penhuokou02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1281,1567},{320,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,440}}</string>
			<key>sourceSize</key>
			<string>{320,440}</string>
		</dict>
		<key>md_penhuokou03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1602,1567},{320,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,440}}</string>
			<key>sourceSize</key>
			<string>{320,440}</string>
		</dict>
		<key>md_qiang01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,111},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>md_qiang02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,232},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>md_wenyihua.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,514},{640,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,240}}</string>
			<key>sourceSize</key>
			<string>{640,240}</string>
		</dict>
		<key>md_xiangzi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,111},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>md_xiangzi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,353},{640,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,120}}</string>
			<key>sourceSize</key>
			<string>{640,120}</string>
		</dict>
		<key>md_youling01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1567},{1280,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,390}}</string>
			<key>sourceSize</key>
			<string>{1280,390}</string>
		</dict>
		<key>md_youling02.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,1176},{1280,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,390}}</string>
			<key>sourceSize</key>
			<string>{1280,390}</string>
		</dict>
		<key>md_zhangpeng.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,0},{400,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,110}}</string>
			<key>sourceSize</key>
			<string>{400,110}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>scenetex_big1-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:180dcdfa4f0030cd9d53c9fcaeb83015$</string>
		<key>textureFileName</key>
		<string>scenetex_big1-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
