<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bc_stage1_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_normal_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage1_press_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,0},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>bc_stage2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_normal_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>cl_stage1_press_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,221},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>gameover_glacier_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,221},{88,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,91}}</string>
			<key>sourceSize</key>
			<string>{88,91}</string>
		</dict>
		<key>gameover_glacier_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,221},{88,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,91}}</string>
			<key>sourceSize</key>
			<string>{88,91}</string>
		</dict>
		<key>gameover_graveyard_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,442},{81,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,95}}</string>
			<key>sourceSize</key>
			<string>{81,95}</string>
		</dict>
		<key>gameover_graveyard_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,442},{81,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,95}}</string>
			<key>sourceSize</key>
			<string>{81,95}</string>
		</dict>
		<key>gameover_jungle_branch_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,442},{86,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,79}}</string>
			<key>sourceSize</key>
			<string>{86,79}</string>
		</dict>
		<key>gameover_jungle_main_sign.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,442},{86,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,79}}</string>
			<key>sourceSize</key>
			<string>{86,79}</string>
		</dict>
		<key>md_stage1_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,442},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_normal_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
		<key>md_stage2_press_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,663},{172,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,220}}</string>
			<key>sourceSize</key>
			<string>{172,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>selectstage-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b85cf4198fe53b10b4387b102bf5467d$</string>
		<key>textureFileName</key>
		<string>selectstage-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
